<footer class="footer">
    &copy; 2015-<%- new Date().getFullYear() %>

    <a href="<%- url_for() %>">Sixlab</a> | 豫ICP备15033629号
</footer>
<div class="back-to-top" id="JELON__backToTop" title="返回顶部">返回顶部</div>
