@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font: normal 100% Verdana, Arial, Helvetica, sans-serif;
	line-height: 150%;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.pagezone {
	width: 100%;
	background-color: #FFFFFF;
	background-color: #191b21;
}
.top_nav{
	width: 100%;
	background-color: #323643;
}
.nav_main {
	width: 1000px;
	margin: 0 auto;
	height: 120px;
}
.nav_main .nav_logo {
	float: left;
	width: 336px;
	height: 120px;
	background-image:url(../img/logo.png);
	background-repeat:no-repeat;
	background-size: 86%;
	background-position: 0px 10px;
}
.nav_main .top_share {
	float: right;
	width: 200px;
	height: 120px;
}
.top_share .share_sina {
	float: left;
	width: 100px;
	height: 120px;
	background: url(../img/sina_logo.png) center center no-repeat;
}
.top_share .share_github {
	float: left;
	width: 100px;
	height: 120px;
	background: url(../img/github_logo.png) center center no-repeat;
}
.share_sina a, .share_github a {
	display: block;
	width: 200px;
	height: 120px;
}
.contentzone {
	height: 738px;
}
.main_content {
	width: 1000px;
	margin: 0 auto;
}
.right_btns {
	float: right;
	width: 250px;
	height: 738px;
}
.pagebtns {
	float: left;
	width: 186px;
	height: 144px;
	margin: 200px 0 0 40px;
}
.pagebtns .pagebtn {
	float: left;
	width: 186px;
	height: 62px;
}
.pagebtns .secondbtn {
	margin-top: 20px;
}
.pagebtn a {
	display: block;
	width: 186px;
	height: 62px;
	background-color: #323643;
	color: #FFFFFF;
	border-radius: 8px;
	text-align: center;
	line-height: 62px;
	text-decoration: none;
}
.pagebtn a:hover{
	color: #FFFFFF;
}
.pagebtn a:visited{
	color: #FFFFFF;
}
.pagebtn a:active{
	color: #FFFFFF;
}
.left_canvas {
	float: left;
	width: 451px;
	height: 600px;
	padding-top: 50px;
}
.sixlab_foot {
	padding: 30px 0 0 0;
	background: #323643;
	height: 70px;
	font-size: 12px;
	color: #FFF;
	clear:both;
}
.footcopyright {
	text-align: center;
}
.foottips {
	text-align: center;
}